:root {
  --text: #fff;
  --test_col_black: #0e8388;
  --iconsMenu: #222831;
  --header-Footer: #393e46;
  --btn: #00adb5;
  --text: #eeeeee;
}
/* ------------------------Allgemine Style mobile first--------------------------- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 11px 0px;
}
li {
  padding: 0px 5px;
}
a {
  text-decoration: none;
  color: var(--text);
}
/* ------------------------menu  style--------------------------- */
header {
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px 50px 97px 10px rgba(14, 14, 15, 0.65);
  background-color: #393e46;
}
.logo > h1 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 3px 2px #d0edff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: var(--text);
}
nav > ul {
  display: none;
  gap: 43px;
}
.a_btn {
  background: #0a5d94;
  background-image: -webkit-linear-gradient(top, #0a5d94, #1f9eed);
  background-image: -moz-linear-gradient(top, #0a5d94, #1f9eed);
  background-image: -ms-linear-gradient(top, #0a5d94, #1f9eed);
  background-image: -o-linear-gradient(top, #0a5d94, #1f9eed);
  background-image: linear-gradient(to bottom, #0a5d94, #1f9eed);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 9px #666666;
  -moz-box-shadow: 0px 1px 9px #666666;
  box-shadow: 0px 1px 9px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.a_btn:hover {
  background: #93c6e6;
  background-image: -webkit-linear-gradient(top, #93c6e6, #8969f0);
  background-image: -moz-linear-gradient(top, #93c6e6, #8969f0);
  background-image: -ms-linear-gradient(top, #93c6e6, #8969f0);
  background-image: -o-linear-gradient(top, #93c6e6, #8969f0);
  background-image: linear-gradient(to bottom, #93c6e6, #8969f0);
  text-decoration: none;
  color: black;
}

.divmenu {
  text-align: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divmenu > ul {
  width: 80%;
  padding: 5px;
}

.divmenu > ul > li {
  padding: 10px;
  border-bottom: 1px solid var(--test_col_black);
}
.divmenu > ul > li:hover {
  color: var(--text);
}

.divmenu {
  display: none;
}
.underline {
  text-decoration: underline;
  text-decoration-color: #c9d30d;
  color: #eeff69;
  font-weight: 900;
}

.menuhoverM {
  display: inline-block;
}
/* ------------------------Main--------------------------- */

section {
  margin-top: 10px;
  margin-bottom: 27px;
  display: grid;
  /* flex-flow: row wrap; */
  grid-template-columns: 1fr;
}
.box > p {
  text-align: center;
  justify-self: center;
}
.sec_titles {
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: black;
  padding: 14px 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 15px 10px;
}
.flex_continaer_box {
  padding: 0% 1%;
  /* display: flex;
  flex-flow: row wrap; */
  display: grid;
  /* flex-flow: row wrap; */
  grid-template-columns: 1fr;
}

.box {
  flex-basis: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 11px outset #e1dfdf;
  padding: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.preis-add {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
}
.preis-add > p > span {
  font-weight: bold;
}
.add_btn {
  background-color: var(--header-Footer);
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  color: var(--text);
  align-items: center;
}
/* ------------------------Footer--------------------------- */
footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 30px;
  box-shadow: inset -2px 50px 97px 10px rgba(14, 14, 15, 0.65);
  background-color: var(--header-Footer);
}

.footerC {
  text-align: center;
  flex-basis: 100%;
  padding: 5px;
}
.footerC > a {
  color: var(--text);
}
.footerI {
  display: flex;
  justify-content: center;
}
.contackt-icons {
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: center;
}
.icons {
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px 20px;
}
.fa {
  background-image: url("../images/icons/facebook.png");
}
.ins {
  background-image: url("../images/icons/instagram.png");
}
.email {
  background-image: url("../images/icons/email.png");
}

.contackt-icons > ul {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
}
/* -------------pick and build--------------------------------- */
.pick_main {
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
}
.Pick_build {
  background-color: whitesmoke;
  border: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 1px 1px 20px black;
  text-align: center;
  z-index: 2;
}
#z端ruck_btn {
  height: 40px;
  font-size: 1.3rem;
  border: none;
  border-bottom: 2px ridge #000000;
  background-color: #faf6f6;
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#z端ruck_btn:hover {
  background-color: #ebe5e5;
}

#z端ruck_btn:focus {
  outline: none;
}

#name_tit {
  font-size: 2rem;
  width: 800px;
  color: rgb(14, 0, 0);
  margin-top: 13px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
#erg {
  background-color: rgb(253, 247, 247);
  border: #000000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  width: 100%;
  height: 200%;
  overflow: hidden;
}
#erg > img {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
#cover {
  z-index: 4;
  transform: translate(-50%, -50%);
}

#rahmen {
  z-index: 5;
  transform: translate(-50%, -50%);
}

#reder {
  z-index: 3;
  transform: translate(-50%, -50%);
}

#sitz {
  z-index: 2;
  transform: translate(-48%, -34%);
}
#teile {
  background-color: #e8e8e8;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#teile_buttons {
  display: flex;
  margin-inline: 5px;
  flex-flow: row nowrap;
  background-color: white;
  padding: 5px 10px;
  height: 50px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.item_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  flex-basis: 25%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  border-radius: 11px;
  transition: box-shadow 1.5s ease;
}
.item_btn span {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.item_btn:hover {
  background-color: darkorange;
  box-shadow: none;
}

.item_btn:focus {
  outline: none;
}
#imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: whitesmoke;
  height: 267px;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: auto;
}
#imageContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#imageContainer > div > img {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 193px;
  margin: 10px;
}
#imageContainer > div > img > p {
  text-align: center;
  font-weight: bolder;
}

.img_click {
  border: 2px solid #666;
}

#items {
  display: flex;
  justify-content: space-around;
  margin-inline: 5px;
  margin-top: 10px;
  background-color: #e8e8e8;
  padding: 10px;
  height: 53px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.style_btn {
  border: none;
  font-family: inherit;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 15px;
  width: 100px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  transition: width 0.6s ease;
}
.style_btn:hover {
  width: 105px;
}
.#ne .style_btn:hover,
button:focus {
  cursor: pointer;
  opacity: 0.75;
}
#next_btn {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: bolder;
  border: none;
  padding: 5px 25px 5px 10px;
  border-radius: 5px 25px 25px 5px;
  background-color: #aae472;
  color: #3c5721;
  width: 100px;
  transition: width 0.6s ease;
}
#next_btn:hover {
  width: 105px;
}

#previous_btn {
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  border: none;
  padding: 5px 10px 5px 25px;
  border-radius: 25px 5px 5px 25px;
  background-color: #aae472;
  color: #3c5721;
  width: 100px;
  transition: width 0.6s ease;
}
#previous_btn:hover {
  width: 105px;
}

/* login-in seite */
#login-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#login-con > form {
  display: flex;
  flex-flow: column;
  border: 1px solid #666;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#login-con > form > * {
  padding: 5px;
  margin-top: 10px;
}
#login-con > form > input {
  width: 100%;
}
#login-con > form > h2 {
  text-align: center;
}
#login-con > form > input[type="submit"] {
  background-color: #666;
  border: none;
  border-radius: 5px;
  color: #fff;
}
/* ------------------copy right page----------------------- */
.copyrights {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
}

#copyright {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: auto;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 80vh;
  overflow: auto;
}

#copyright p {
  margin-bottom: auto;
}
#copyright a {
  color: orange;
}
/* ---------------------Impressum page style ------------------- */
#impressum {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  height: 80vh;
  overflow: auto;
}
/* --------------contact-container---------- */
#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #e1dede9c;
}
#contact-container > div > form > * {
  display: block;
  width: 100%;
  padding: 5px 10px;
}
#contact-container > div > form {
  padding: 10px;
}
.text-btn {
  border-radius: 7px;
}
.w50 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 50px;
  background: #fdf9f3;
}
#send-button {
  margin: 10px;
  padding: 7px;
}
/* ------------ about Us ------------  */
.端berschrift {
  text-align: center;
}
.our-pics {
  width: 80px;
}
.about-us-containers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.about-us-containers > div {
  margin: 20px;
  text-align: center;
}
.beschreibung {
  padding: 10px;
  margin: 5px;
  width: 80%;
  text-align: justify;
}
.fw100 {
  flex-basis: 100%;
}
.fw100 > img,
.fw30 > img {
  border-radius: 73px;
  width: 153px;
  height: 163px;
}
.fw30 {
  flex-basis: 30%;
}
/* WARENKORB */
.cheakOut {
  background-color: #ededed;
  width: auto;
  margin: 10px;
}
.cheakOut > button {
  width: 100%;
  background-color: #d0451b;
  border-radius: 7px;
  cursor: pointer;
  color: #fbfbfb;
  font-family: Courier New;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}
.cheakOut > button:hover {
  background-color: #bc3315;
}
.cheakOut > h2 {
  text-align: center;
}

.cheakOut > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
}
.cheakOut > div > p {
  font-size: 19px;
}
#inkl_MwSt {
  font-size: 12px;
  text-decoration: underline;
}
@media screen and (min-width: 867px) {
  /* desktop menu style  */
  #menuHover {
    display: none;
  }
  nav > ul {
    display: flex;
  }
  nav > ul > li > a {
    color: var(--text);
  }
  nav > ul > li > a:hover {
    color: #4f5ae2;
  }
  /* --------main sections box ----------------- */
  .flex_continaer_box {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .divmenu {
    display: none !important;
  }
  /*------------- Contact container---------------- */
  .about-us-containers > div {
    flex-basis: 30%;
  }
  #contact-container > .w50 {
    width: 50%;
  }
  /* ---------------beschreibung unseres Projekt------------ */
  .beschreibung {
    padding: 10px;
    margin: 5px;
    width: 80%;
  }
  .beschreibung > p {
    font-size: 18px;
    font-weight: 200;
  }

  .box {
    border-radius: 21px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .cart {
    background-image: url("../images/icons/cart.png");
    background-size: 35px;
    padding: 30px;
  }
  #quantity {
    position: relative;
    top: 15px;
    right: -24px;
    color: red;
    background: black;
    border-radius: 20px;
    border: 2px red solid;
    padding: 2px;
  }
  /* ----------wagenkorb----------- */
  .wagenKorb_sec > .flex_continaer_box {
  }
}
